# Option A: EmailJS (Free & Custom sender "Portfolio Message")
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=

# Option B: Web3Forms (Takes 10 seconds to get free key from https://web3forms.com/)
VITE_WEB3FORMS_KEY=

